version: 2.1
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: base64 decode env file
          command: echo $ENV_FILE | base64 -di > src/.env.testing
      - run:
          name: Install dependencies with Composer
          command: |
            docker-compose run --rm php composer install
      - run:
          name: Start all services declared in docker-compose.yml
          command: docker-compose up -d
      - run:
          name: Clear config cache
          command: docker-compose exec php php artisan config:clear
      - run:
          name: Run PHP tests in the feature directory
          command: docker-compose exec php vendor/bin/phpunit --testsuite Feature
