.container {
  max-width: 1500px;
  margin: 100px auto;
}

.item-wrap {
  margin-top: 20px;
}

.item-wrap__item {
  width: 45%;
  margin: 2%;
  display: block;
  position: relative;
}

.item-wrap__item-eyecatch {
  width: 100%;
  height: auto;
}

.soldStatus{
  position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 32px;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.send {
  color: red;
}

.end {
  color: blue;
}

.p{
  font-weight: bold;
}

.flex__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favorite__comment {
  display: flex;
  align-items: center;
}

.comment{
  margin-left:10%;
}

.count{
  display: flex;
  align-items: center;
}

.favorite-count{
  margin-left: 1%;
  width: 40px;
  text-align: center;
}

.comment-count {
  margin-left: 11.75%;
  width: 40px;
  text-align: center;
}

.detail {
  width: 45%;
  margin:2%;
  display: block;
  border-radius: 10px;
  position: relative;
  height:750px;
}

.detail__h1 {
  padding: 20px 0 0 0;
}

.detail__h2{
  padding: 20px 0 0 0;
}

.decision-button{
  margin-top: 50px;
  color: white;
  border: none;
  background-color: orangered;
  height: 40px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
}

.soldOut-message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  border: none;
  background-color: orangered;
  height: 40px;
  width: 50%;
  border-radius: 5px;
}

.category{
  display: flex;
  align-items: center;
}

.category-inner{
  margin: 0 5px 15px 5px;
  background-color: gainsboro;
  border-radius: 10px;
  height: 20px;
}

.category-inner-p{
  padding:0 20px;
}

.condition{
  display: flex;
}

.button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.send-area{
  border: 1px solid black;
}

.send-box {
  padding: 10px;
}

.send-button {
  margin-top: 10px;
  color: white;
  border: none;
  background-color: blue;
  height: 40px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
}

.thanks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  border: none;
  background-color: blue;
  height: 40px;
  width: 50%;
  border-radius: 5px;
}

.none{
  display: none;
}

.icon {
  width: 40px;
  height: auto;
}

@media screen and (max-width : 768px) {

  .flex__item {
      display: block;
    }

  .item-wrap__item {
    width: 80%;
    margin: 2% auto;
    display: block;
  }

  .detail {
    width: 80%;
    margin: 2% auto;
    }

}


