img {
  width: 100%;
  height: auto;
}

p{
  font-weight: bold;
}

.flex__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favorite__comment {
  display: flex;
  align-items: center;
}

.comment{
  margin-left:10%;
}

.count{
  display: flex;
  align-items: center;
}

.favorite-count{
  margin-left: 1%;
  width: 40px;
  text-align: center;
}

.comment-count {
  margin-left: 11.75%;
  width: 40px;
  text-align: center;
}

.container {
  max-width: 1500px;
  margin: 100px auto;
}

.shop-wrap {
  margin-top: 20px;
}

.shop-wrap__item {
  width: 45%;
  margin:2%;
  display: block;
}

.shop-wrap__item-title {
  display: flex;
  align-items:center;
}

.shop-wrap__item-content {
  padding: 5%;
}

.shop-wrap__item-content-tag {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  display: inline;
}

.reserve {
  width: 45%;
  margin:2%;
  display: block;
  border-radius: 10px;
  position: relative;
  height:750px;
}

h2{
  padding: 20px 0 0 0;
}

h1 {
  padding: 20px 0 0 0;
}

#button{
  margin-top: 50px;
  color: white;
  border: none;
  background-color: orangered;
  height: 40px;
  width: 50%;
  cursor: pointer;
  bottom: 0px;
  border-radius: 5px;
}

.category{
  display: flex;
  align-items: center;
}

.category-inner{
  display: flex;
  align-items: center;
  margin: 0 5px;
  background-color: gainsboro;
  border-radius: 10px;
  height: 20px;
}

.category-inner p{
  padding:5px 20px 3px 20px;
}

.condition{
  display: flex;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.none{
  display: none;
}

.heart {
  width: 40px;
  height: auto;
}

@media screen and (max-width : 768px) {


  .flex__item {
      display: block;
    }

  .shop-wrap__item {
    width: 80%;
    margin: 2% auto;
    display: block;
  }

  .reserve {
    width: 80%;
    margin: 2% auto;
    }

  .review-area {
    margin: 50px auto 0;
    width: 80%;
  }

  .review-main {
    width: 80%;
    padding: 2%;
    margin: 20px auto 0;
  }

  textarea{
    width:100%;
  }
}


