.header {
    background: black;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1300px;
}

.header-utilities {
    display: flex;
    align-items: center;
}

.header__logo-box {
    display: flex;
    white-space: nowrap;
}

.header__logo-box-img {
    width: 20%;
    margin-right: 5px;
    height: 30px;
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities-a {
    color: white;
}

.logout {
    white-space: nowrap;
}

.search-checkbox {
    color: white;
    white-space: nowrap;

}

.search-checkbox-label {
    cursor: pointer;
}

.header-utilities-nav {
    width: 18%;
    margin-left: 5%;
}

.header-nav {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.header-nav__item {
    margin: 0 30px;
    white-space: nowrap;
}

.header-nav__link {
    text-decoration: none;
}

.header__sell {
    background-color: white;
    border-radius: 3px;
    margin-left: 40%;
    display: block;
    width: 50px;
}

.header__sell-a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
    white-space: nowrap;
}

.header-nav__button {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.header-nav__button:hover {
    color: blue;
}

body {
    position: relative;
    min-height: 100vh;
}

.responsive {
    display: none;
}

.nav_toggle,
.nav {
    display: none;
}

.nav_toggle {
    display: block;
    position: relative;
    width: 3.5rem;
    height: 3.0rem;
    margin: 30px;
    z-index: 4;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
}

.nav_toggle i {
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
}

.nav_toggle i:nth-child(1) {
    top: 15%;
    left: 15%;
    width: 50%;
}

.nav_toggle i:nth-child(2) {
    top: 0;
    left: 15%;
    bottom: 0;
    margin: auto;
    width: 70%;
}

.nav_toggle i:nth-child(3) {
    left: 15%;
    bottom: 15%;
    width: 25%;
}


.nav_toggle.show i:nth-child(1) {
    top: 0;
    left: 0;
    transform: translateY(20px) rotate(-45deg);
    width: 100%;
}

.nav_toggle.show i:nth-child(2) {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
}

.nav_toggle.show i:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: translateY(-25px) rotate(45deg);
    width: 100%;
}


.nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #fff;
    z-index: 3;
}

.nav_menu_li {
    margin-bottom: 30px;
}

.nav_menu_li-a {
    color: #ee6557;
    text-decoration: none;
}


.nav.show {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width : 768px) {
    .default {
        display: none;
    }

    .responsive {
        display: block;
    }

    .header-utilities-nav {
        width: 18%;
        margin-left: 0;
    }

}