.main {
    max-width: 1210px;
    margin: 0 auto;
    text-align: center;
}

.main__search{
    width: 100%;
    margin: 50px auto;
}

.account-email{
    cursor: pointer;
}

.mail-area{
    text-align:left;
    width: 50%;
    margin: 50px auto;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table tr:first-child{
    border-bottom: 1px solid black;
}

.account--table td {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.error {
    list-style: none;
    color: red;
}

.responsive {
    display: none;
}

.none{
    display: none;
}

@media screen and (max-width : 768px) {
    .responsive {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    #textarea{
        width:400px;
    }

    .default {
        display: none;
    }
}

.message__success--p{
    color: blue;
}

.role-put{
    color: blue;
}

.role-delete {
    color: red;
}