
.container {
  max-width: 1500px;
  margin: 100px auto;
}

.p-bold {
  font-weight: bold;
}

.item-wrap__item-eyecatch {
  width: 100%;
}

.flex__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-wrap {
  margin-top: 20px;
}

.item-wrap__item {
  width: 50%;
}

.point{
  font-weight: bold;
  margin-bottom: 20px;
}

.point-input{
  height:22px;
  width:115px;
}

.item-wrap__item-main {
  width: 100%;
  margin:2%;
  display:flex;
  justify-content:flex-start;
}

.item-wrap__item-img {
  width: 30%;
}

.item-wrap__item-bottom{
  height: 50px;
  font-weight: bold;
}

.name__price-box{
  margin-left: 20px;
}

.address-update {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: blue;
}

.address-update:hover {
  color: orangered;
}

#payment-method{
  height: 20px;
}

.payment {
  width: 35%;
  margin: 2%;
  display: block;
  position: relative;
}

.payment-area {
  width: 100%;
  display: block;
  border: 1px solid black;
}

.payment-box{
  margin: 20px;
}

#button,#card-button,#card-button-Reuse{
  margin-top: 20px;
  color: white;
  border: none;
  background-color: orangered;
  height: 40px;
  width: 100%;
  cursor: pointer;
  bottom: 0px;
  border-radius: 5px;
}

.condition{
  display: flex;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
}

#card-element,
#card-holder-name {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

.none{
  display: none;
}

.credit{
  margin-top: 20px;
}

.creditHistory-label{
  margin-bottom: 10px;
}

@media screen and (max-width : 768px) {


  .flex__item {
      display: block;
    }

  .item-wrap__item {
    width: 80%;
    margin: 2% auto;
    display: block;
  }

  .reserve {
    width: 80%;
    margin: 2% auto;
    }
}


